# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# build stuffs
*.local
.eslintcache
.next
.pnpm-debug.log*
yarn-error.log
cache
coverage
dist
node_modules
tsconfig.tsbuildinfo

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc

typechain
artifacts
tsconfig.tsbuildinfo
**/dist/
**/typechain/
testnet-mnemonic.txt
/packages/bundler/src/typechain-types
/packages/bundler/tsconfig.tsbuildinfo
/packages/bundler/typechain-types/
/packages/bundler/deployments/
/packages/bundler/src/types/

/packages/utils/src/types/

/packages/contracts/typechain
/packages/contracts/deployments/dev/
/packages/contracts/deployments/localhost/
/packages/contracts/deployments/proxy/
/packages/contracts/typechain-types/
/packages/contracts/reports/gas-used-output.color
/packages/contracts/coverage
/packages/contracts/coverage.json
/packages/contracts/contracts/dist/
/packages/contracts/contracts/types/

# IDEA
/.idea/
